h1 {
  color: rgb(182, 200, 233);
  text-align: center;
  font-family: cursive;
  font-size: 50px

h2 {

}

body {
  background-color:lightpink
}

ul {
  color: rgb(191, 214, 235);
  font-family: cursive;
}

p {
  color: white;
}